/*********************************************
 * LaTeX styles, these interact with .reveal class
 *********************************************/

.reveal img {
    max-height: 75%;
}

.reveal svg.latexSVG {
    margin:0px;
    background-color:transparent; 
    border:none;
    box-shadow:none;
    vertical-align:middle;
    height:1.0em;
    margin-right:.1em;
    margin-left :.1em;
    max-width: 100%;
    fill: currentColor;
    stroke: currentColor;
}


.lowercase {
    text-transform: lowercase;
}

.reveal section img {
    vertical-align:middle;
}

.reveal strong {
    color:  #FA5858;
}

/*********************************************
 * Image caption styles
 *********************************************/

.reveal .inline_image {
    display: inline;
}

.reveal .large_image {
    top:0;
    bottom:0;
    left:0;
    right:0;
    position:absolute;
    width:100%;
    height:100%;
    max-height:100%;
    max-width:100%;
    margin: 0 0 0 0;
}

.reveal .large_image .caption {
    margin: 0 0 20px 0;
    color: #eeeeee;
    font-family: "League Gothic", Impact, sans-serif;
    line-height: 0.9em;
    letter-spacing: 0.02em;
    text-transform: uppercase;
    padding-top: 10px;
} 

.reveal .transparent_image  {
    border: none;
    background: none;
    box-shadow: none;
}

/*********************************************
 * Special slide transitions, do with java?
 *********************************************/
.reveal .no_slide_transition {
    -webkit-transform: none !important;
    -moz-transform: none !important;
    -ms-transform: none !important;
    -o-transform: none !important;
    transform: none !important;
    
    -webkit-transition: none !important;
    -moz-transition: none !important;
    -ms-transition: none !important;
    -o-transition: none !important;
    transition: none !important;
}